{% extends 'layout.html' %}
{% block content %}
<div class="heading pt-2 pb-2">
  <h1>Dashboard</h1>
</div>

<div class="row body">
  <div class="col-sm-6">
    <canvas id="pieChart"></canvas>
  </div>
  <div class="col-sm-6">
    <canvas id="myChart"></canvas>
  </div>
  <div class="col-lg-12 m-4">
    <canvas id="barChart"></canvas>
  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}" charset="utf-8"></script>

{% endblock content %}
